* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fce7fa;
    border: #080808;
}
body {
    font-size: 25px;
    font-family: Arial, sans-serif;
    background-color: #fce7fa;;
    margin: 0;
    padding: 0;
}
.wrap {
    display: flex;
}
.intro-image {
    width: 250px;
    height: 250px; 
    border: 2px solid #333;
    border-radius: 50%; 
    overflow: hidden; 
    margin: 30px;
    image-rendering: auto;
    float: left;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav {
    margin-left: auto;
    font-size: xx-large;
    float: right;
}
nav ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding: 30px;
}
nav li {
    display: inline-block;
    padding: 10px 20px; 
    border: 2px solid #333;
    background-color: #c5a0f9;
    border-radius: 5px;
    margin-right: 20px; 
}
nav a {
    text-decoration: none;
    color: rgb(77, 1, 33);
    font-weight: bolder;
    background-color: #c5a0f9;
}




.intro-text {
    display: flex;
    padding: 0%;
    padding-top: 100px;
    padding-left: 25px;
    text-align: center;
}
.intro-text h1 {
    font-style:italic;
    font-size: 55px;
}


.intro {
    display: flex;
    color:#000000;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 2px;
    margin: 30px;
    justify-content: space-between;
}
.p1 {
    padding: 3px;
    width: auto;
    margin-inline-start: 10px;

}
#box {
    padding: 3px;
    border: 2px solid #333;
    display: inline-block;
    background-color: #fce7fa;
    border-radius: 5px;
}


.intro-image1 {
    width: 200px;
    height: 200px; 
}
.intro-image1 img {
    width: 100%;
    height: 100%;
    float: right;
}



#portfolio {
    font-style: oblique;
    background-color: #fce7fa;
    padding: 20px;
}
.examples {
    display: flex;
    justify-content: space-between;
}
.example {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
    padding: 5px;
}
.example img {
    max-width: 100%;
    max-height: fit-content;
}



#about {
    background-color: #fce7fa;
    padding: 20px;
}
#contact {
    background-color: #fce7fa;
    padding: 20px;
}



#site {
    display: flex;
    text-align: center;
    padding-left: 40px;
}
#website {
    display: inline-block;
    margin: 8px;
}
#website img {
    width: 50px;
    height: 50px;
}




h1, h2, h3, p {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
a[href="mailto:"] {
    color: #333;
    font-weight: bold;
}
@media (max-width: 768px) {
    .intro-text {
        width: 100%;
        text-align: center;
    }
    .intro-image img {
        width: 100%;
    }
    .example {
        width: 100%;
    }
}
